name: Lint

on: push

jobs:
  lint:

    runs-on: ubuntu-latest
    name: Rubocop

    steps:
    - uses: actions/checkout@v6
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        bundler-cache: true # 'bundle install' and cache gems
    - name: Run Rubocop
      run: bundle exec rubocop
